<header id="header" class="header">
    <h1>{{title}}</h1>
    <ul class="header__menu">

        <li class="menu__user">
            Parkoon
        </li>
        <li class="menu__login">
            <a href="#">로그인</a>
        </li>
        <li class="menu__logout">
            <a href="#">로그아웃</a>
        </li>
    </ul>
</header>