*.log
*.gz

logs

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store

# Ignore built ts files
dist/**/*
build/**/*

# ignore lock
yarn.lock
package-lock.json